@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Red Hat Display;
    font-size: 16px;
    line-height: 24px;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(/images/pattern-background-desktop.svg);
}
h1{
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 20px;
    color: hsl(223, 47%, 23%);
}
p{
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.head-container{
    width:375px;
    height: 200px;   
}

.illustration-hero{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 450px;
    text-align: center;
    background-color: hsl(225, 100%, 100%);
    border-radius: 0 0 15px 15px;
    

}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 375px;
    height: 650px;
    padding-bottom: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    
}
.subscription-container{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    width: 300px;
    border-radius: 12px;
    border: none;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px;
    margin-top: 15px;

}.music-icon{
    height: 40px;
    border-radius: 20px;
}
.music-icon-container{
    margin-left: 10px;
}

.price-container{
    margin-left: 0;
    margin-right: 60px;
}
.change-container{
    margin-right: 0;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}
.change-container:hover{
    cursor: pointer;
}
.change-container:active{
    color:hsl(245, 75%, 52%);
    opacity: 0.7;
    transition: 0.15s;
}
button{
    color: hsl(225, 100%, 98%);
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 8px;
    width: 300px;
    margin-top: 25px;
    margin-bottom:15px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 16px 10px hsl(225, 100%, 94%)
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color:hsl(245, 75%, 52%);
    opacity: 0.7;
    transition: 0.15s;
}

button, .cancel-container{
    font-weight: 700;
}
.plan-duration{
    color: hsl(223, 47%, 23%);
    padding-bottom: 10px;
    font-weight: 900;
}

.plan-duration, .plan-duration-price{
    margin: 0;
}
.cancel-container{
    margin-top: 12px;
    margin-bottom: 25px;
}
.cancel-container:hover{
    cursor: pointer;
}
.cancel-container:active{
    color: hsl(223, 47%, 23%);
    transition: 0.15s;
}

@media screen and (max-width: 600px){
    body{
        background-image: url(/images/pattern-background-mobile.svg);
        width: 100vw;
        height: 100vh;
    }
    main-container{
        height: 80%;
        width: 275px;
        padding: 5px;

    }
}



    
    
    
    
    
    
    
    

